.connexion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  min-height: 100vh;
  color: var(--dark);
  font-weight: 500;
  font-size: var(--big-font-size);
  background-image: url('/museum-background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




  
  