.gallerie {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.imageContainer {
    position: relative;
    align-items: center;
    width: 45%;
    height: 200px;
    margin: 1.5rem;
    flex-wrap: wrap;
    padding: 2rem;

}

.imageInfo {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    bottom: 0;
    width: 50%;
    font-size: small;
    align-items: flex-start;
    height: auto;
}
.image:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease; 
}
.image{
    transition: transform 0.5s ease; 
  
}
@media screen and (max-width: 1200px){}

@media screen and (max-width: 900px){
    .imageContainer{
        width: 95%;
        background-color: rgb(51, 153, 78);
        margin: 0.5rem;
    } 
}

@media screen and (max-width: 600px){
    .imageContainer{
        width: 95%;
        background-color: rgb(51, 153, 78);
        margin: 0.5rem;
    } 
    .gallerie{
        flex-wrap: wrap;
    }
    .imageInfo {
        width: 70%;
        font-size: large;
        font-weight: 600;
    }
}


