/* CSS qui s'applique aux écrans de plus de 900 pixels de largeur */
@media screen and (min-width: 900px) {
    .header {
        padding: 1.5rem;
        background-color: var(--couleur5);
        background-color: var(--couleur5);
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        box-shadow: 0.2px 4px white;
        border: solid black;
        z-index: 1000;
    }
    #mobile{
        display: none;
       }
    .logo {
        color: rgb(61, 64, 160);
        cursor: pointer;
        padding: 1.5rem;
        position: relative;
    }
    .logoDiv{
        margin: .5rem;
    }
   

}
/* ------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 901px){

    .header {
        display: flex;
        padding: 1.5rem;
        align-items: center;
        background-color: var(--couleur5);
        background: rgb(26, 113, 179);
        position: fixed;
        justify-content: space-between;
        width: 100%;
        box-shadow: 0.2px 4px white;
        border: solid black;
        z-index: 1000;
    }
    
}
/* ------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 350px) and  (max-width: 700px){
    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
         padding: 1.5rem;
        background-color: var(--couleur5);
        background: rgb(89, 155, 235);
        position: fixed;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        box-shadow: 0.2px 4px white;
        border: solid black;
        z-index: 1000;
    } 
    #mobile{
        background-color: rebeccapurple;
        flex-direction: column;
        align-items: center;
        position: absolute;
        align-items: flex-end;
        height: auto;
        top: 90px;
        right: 0;
        background: transparent;
        background-color: rgb(13, 56, 56);
        padding: .5rem;    }
    }