.header {
    padding: 1rem;
    background-color: var(--couleur5);
}

.title {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--dark);
    font-size: 75%;
    color: var(--light);
    font-family: 'Playfair Display', serif;
}