/* css commun a tous les ecrnas ---------------------*/
.navList {
    list-style: none;
    gap: 2rem;
    font-weight: bold;
    font-size: 23px;
}


.navItem {
    position: relative;
    cursor: pointer;
}
.navItem:hover {
    border-radius: 1.5rem;
    color: var(--light);
}

.navLink {
    text-decoration: none;
    color:  var(--dark); 
   
}

.navItem.active .navLink {
    border: 3px solid rgb(0, 0, 0); 
    border-radius: 50%; 
    padding: 7px; 
    box-sizing: border-box;
}

.btn{
    padding: .2rem .1rem 0rem .5rem;
    background-color: rgba(132, 14, 14, 0) ;
    border-radius:3rem ;
    border: none;
    outline: none;
    cursor: pointer;
   
} 
.nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--dark);
    &:hover{
        border-radius: 1.5rem;
        color: rgb(224, 225, 240);

    }
}
.nav ul {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: .5rem .2rem 0rem 1rem;
} 

.settings {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin-left: auto;
    gap: 0.5rem;
    margin-top: 0.5rem; 
    position: relative;
}

.settings div {
    cursor: pointer;
    font-size: 1.5rem; /* Adjust icon size */
}
@media screen and (min-width: 1200px) {
     .nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4rem;
        list-style-type: none;
        margin: 0;
    } 
 
}
/* ------------------------------------------------------------------------------------------------------- */
@media screen  and (max-width: 900px){
    .navList{
        flex-direction: column;
        position: absolute;
        align-items: center;
        width: 100%;
        height: 300px auto;
        right: 000px;
        background-color:rgb(130, 130, 130);
    }
    .navItem{
        margin: 1.5rem;
    }

}
/* ------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 600px){
    .navList{
        flex-direction: column;
        position: absolute;
        align-items: center;
        height: 300px;
        right:0;
        background-color:rgb(130, 130, 130);
        
    }
    
  
    .navItem{
        margin: 1.5rem;
    }
    .visiter{
        padding: .8rem 0.8rem;
        text-align: center;
        width: 10px;
    }
    
  

}
