/* css commun a tous les ecrnas ---------------------*/
.btn{
    padding: .2rem .1rem 0rem .5rem;
    background-color: rgba(0, 0, 0, 0) ;
    border-radius:3rem ;
    border: none;
    outline: none;
    cursor: pointer;
   
} 
.nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--dark);
    &:hover{
        border-radius: 1.5rem;
        color: rgb(224, 225, 240);

    }
}
.nav ul {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    list-style-type: none;
    margin: 0;
    padding: .5rem .2rem 0rem 1rem;
} 
@media screen and (min-width: 900px) {
     .nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4rem;
        list-style-type: none;
        margin: 0;
    } 
 
}
/* ------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 701px) and (max-width: 901px){
    .nav ul{
        display: flex;
        background-color: aqua;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
}
/* ------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 350px) and  (max-width: 700px){
    .navList{
        flex-direction: column;
        position: absolute;
        align-items: center;
        height: 300px;
        top: 65px;
        margin: .5rem;
        padding: 2rem;
        border-radius: 1rem;
        right: 0;
        background-color: rgba(0, 0, 0, 0.745) ;
    }
    .navItem{
        margin: 1.5rem;
    }
    .visiter{
        font-size: medium;
        padding: .8rem 0.8rem;
        text-align: center;
        color: aliceblue;
        width: 10px;
    }
    .navLink{
        font-size: medium;
        color: white;
    }
    
  

}
